.rozie-codemirror[data-rozie-s-34cfda5a] {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Consolas, 'Liberation Mono', Menlo, monospace;
}
.cm-mount[data-rozie-s-34cfda5a] {
  height: 100%;
  width: 100%;
}
.rozie-codemirror[data-rozie-s-34cfda5a] [data-rozie-s-34cfda5a]:global(.cm-editor) {
  height: 100%;
  font-size: 13px;
}
.rozie-codemirror[data-rozie-s-34cfda5a] [data-rozie-s-34cfda5a]:global(.cm-scroller) {
  height: 100%;
}
.rozie-codemirror[data-rozie-s-34cfda5a] [data-rozie-s-34cfda5a]:global(.rozie-cm-panel) {
  padding: 2px 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 12px;
}