.card-body[data-rozie-s-1462f7ea] {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #f3f4f6;
}
.card-title[data-rozie-s-1462f7ea] {
  margin: 0 0 0.5rem;
  font: inherit;
  font-weight: 600;
}
