.r-on-probe[data-rozie-s-c4bd99aa] {
  display: inline-flex;
  gap: 0.5rem;
  padding: 0.25rem;
}
.r-on-probe[data-rozie-s-c4bd99aa] span[data-rozie-s-c4bd99aa] {
  display: inline-block;
  padding: 0.125rem 0.25rem;
}
